.hfai-404-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  h2 {
    font-size: 100px;
    height: 110px;
    padding-bottom: 10px;
  }
}
