// .hf-panel.xtopic-title-panel {
//   background: url(/src/components/svg/xtopic-title-bg.svg) no-repeat right / contain !important;
// }
.hf-panel.xtopic-panel .children-container {
  padding-top: 0;
}

.xtopic-invoke-new-btn {
  width: 100%;
  height: 36px;
  margin-bottom: 20px;
}
