.DS_Store
node_modules/
dist/
build/
coverage/
lib
packages/hf-logger/demo/js

scripts/log_ana
logdata.json

tsconfig.tsbuildinfo
servers/ailab-server/log
apps/vite-demo/.env
.token
.devrc.local

common/temp
common/deploy
.rush
*.build.log
*.build.error.log
.pnpm-debug.log
yarn-error.log

ailab-server-dist
internal-server-dist

!apps/studio/public/vditor@3.8.17/dist
ns.sh
servers/ailab-server/public/
hai_demo/
.devrc.local
