@import '../../style/aiui_mixin.scss';
@import '../../style/variables.scss';

.home-container {
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.box {
    border: 3px solid #666;
    background-color: #ddd;
    border-radius: 0.5em;
    padding: 10px;
    cursor: move;
}
