@import '../../../style/aiui_mixin.scss';

div.dash-error-panel {
  position: relative;
  &::before {
    content: ' ';
    background-color: var(--hai-ui-red3);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.08;
  }
  background-color: transparent;
  color: var(--hai-ui-red3);

  .error-trainings-container {
    max-height: 60px;
    overflow-y: auto;
  }

  p {
    margin-bottom: 0;
  }

  .error-train-title {
    @include aiui-paragraph-13;
    margin-bottom: 12px;
  }

  .error-train-item {
    display: flex;
    flex-direction: row;
    align-items: center;

    &:nth-child(n + 2) {
      margin-top: 10px;
    }

    .item-icon {
      margin-right: 10px;
      display: inline-block;
    }

    p {
      @include aiui-paragraph-13;
    }
  }
}
