@import '../../../style/aiui_mixin.scss';

.user-info-block-container {
  .row {
    display: flex;
  }
  .avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .desc {
    margin-left: 14px;
    margin-top: 4px;
    .name {
      @include aiui-text-primary;
      @include aiui-h4r;
      margin-bottom: 8px;
    }
    .group {
      @include aiui-text-secondary;
      @include aiui-h6r;
    }
  }
  .day-count {
    margin-top: 10px;
    text-align: right;
    @include aiui-text-secondary;
    @include aiui-h6r;
  }
}
